<div class="box">

<div class="box__search">

<h1 class="box__search__h1">Property for sale in Bracknell, Berkshire</h1>

<div class="box__search__inputs">

<div class="box__search__inputs__left">
<div class="box__search__inputs__left__top">

    <label class="top"   for="radius">Search radius</label>

    <select class="top"    name="radius" id="cars">
        <option value="This area only">This area only</option>
        <option value="within1">Within  <sub>1</sub>&frasl;<sup>4</sup> mile</option>
        <option value="within1">Within  <sub>1</sub>&frasl;<sup>2</sup> mile</option>
        <option value="within1">Within 1 mile</option>
        <option value="within1">Within 3 mile</option>
        <option value="within1">Within 5 mile</option>
        <option value="within1">Within 10 mile</option>
        
      </select>


</div>
<div class="box__search__inputs__left__middle">

    <label class="middle" for="price">Price range (£)</label>

    <select class="middle" name="price" id="cars">
      <option value="no min">No min</option>
      <option value="50">50.000</option>
      <option value="60">60.000</option>
      <option value="70">70.000</option>
      <option value="80">80.000</option>
      <option value="90">90.000</option>
      <option value="100">100.000</option>
      <option value="110">110.000</option>
      <option value="120">120.000</option>
      <option value="130">130.000</option>
      <option value="140">140.000</option>
      <option value="150">150.000</option>
      <option value="160">160.000</option>
      <option value="170">170.000</option>
      <option value="175">175.000</option>
      <option value="180">180.000</option>
      <option value="190">190.000</option>
      <option value="200">200.000</option>
      <option value="210">210.000</option>
      <option value="220">220.000</option>
      <option value="230">230.000</option>
      <option value="240">240.000</option>
      <option value="250">250.000</option>
      <option value="260">260.000</option>
      <option value="270">270.000</option>
      <option value="280">280.000</option>
      <option value="290">290.000</option>
      <option value="300">300.000</option>
      <option value="325">325.000</option>
      <option value="350">350.000</option>
      <option value="375">375.000</option>
      <option value="400">400.000</option>
      <option value="425">425.000</option>
      
      
    </select>
  
  
    <select class="middle" name="price" id="cars">
      <option value="no max">No max</option>
      <option value="50">50.000</option>
      <option value="60">60.000</option>
      <option value="70">70.000</option>
      <option value="80">80.000</option>
      <option value="90">90.000</option>
      <option value="100">100.000</option>
      <option value="110">110.000</option>
      <option value="120">120.000</option>
      <option value="130">130.000</option>
      <option value="140">140.000</option>
      <option value="150">150.000</option>
      <option value="160">160.000</option>
      <option value="170">170.000</option>
      <option value="175">175.000</option>
      <option value="180">180.000</option>
      <option value="190">190.000</option>
      <option value="200">200.000</option>
      <option value="210">210.000</option>
      <option value="220">220.000</option>
      <option value="230">230.000</option>
      <option value="240">240.000</option>
      <option value="250">250.000</option>
      <option value="260">260.000</option>
      <option value="270">270.000</option>
      <option value="280">280.000</option>
      <option value="290">290.000</option>
      <option value="300">300.000</option>
      <option value="325">325.000</option>
      <option value="350">350.000</option>
      <option value="375">375.000</option>
      <option value="400">400.000</option>
      <option value="425">425.000</option>
    </select>


</div>

<div class="box__search__inputs__left__bottom">




 
    <label class="bottom" for="bedrooms">No.of bedrooms</label>

    <select class="bottom"   name="bedrooms" id="cars">
        <option value="no max">No min</option>
        
        <option value="studio">studio</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    
    
      <select  class="bottom"   name="bedrooms" id="cars">
        <option value="no max">No mox</option>
        
        <option value="studio">studio</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    








</div>
<div></div>

</div>
<div class="box__search__inputs__right">












    <div class="box__search__inputs__right__top">

        <label class="top"   for="type">Property type</label>
    
        <select class="top"    name="type" id="cars">
            <option value="any">Any</option>
           
            <option value="house">House</option>
            <option value="flat">Flats / Apartments</option>
            <option value="bungalows">Bungalows</option>
            <option value="land">Land</option>
            <option value="commercial property">Commercial Property</option>
            <option value="other">Other</option>
            
          </select>
    
    
    </div>
    <div class="box__search__inputs__right__middle">
    
        <label class="middle" for="added">Added to site</label>
    
        <select class="middle" name="added" id="cars">
          <option value="anytime">Anytime</option>
          <option value="24">Last 24 hours</option>
          <option value="3">Last 3 days</option>
          <option value="7">Last 7 days</option>
          <option value="14">Last 14 days</option>
         
          
          
        </select>
      
    
    
    </div>
    
    <div class="box__search__inputs__right__bottom">
    
  
    <div></div>
    <div>
        <label class="container">Include Under Offer, Sold STC... (?)
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          



    </div>
   
       
    
    
    
    
    
    
    </div>
    
    
    
<div class="box__search__inputs__right__btn">     
    <div></div>
    <div class="box__search__inputs__right__btn__button"> <button>find properties</button></div>


</div>























</div>



</div>








</div>



</div>
