.box{
    width: 100%;
    min-height: 89.5vh;

   
    &__search{
        width: 56%;
        height: 30vh;
        margin: 0 auto;
   
        &__h1{
           padding-top: 1.9rem;
           font-size: 2rem;
           font-weight: bolder;
        }
        &__inputs{
            width: 100%;
            height: 100%;
      margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          grid-gap: 6rem;
          
            &__left{
            
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 1fr 1fr 1fr 1fr;
            &__top{
                display: grid;
                grid-template-columns: 0.4fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 4rem;
               align-items: center;
               select{
                padding: 1rem;
                display: block;
               
               }
               option{
                font-size: 2rem;
              display: block !important;
           padding: 2rem;
             
            }


            }
             
            &__middle{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
              grid-gap: 2rem;
               align-items: center;
               select{
                padding: 1rem;
                display: block;
               }

               option{
                font-size: 2rem;
              display: block !important;
           padding: 2rem;
             
            }



            }

            &__bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
              grid-gap: 2rem;
               align-items: center;
               select{
                padding: 1rem;
              
               }
               option{
                font-size: 2rem;
              display: block !important;
           padding: 2rem;
             
            }

            }


            }
            &__right{
              
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1f 1fr;



                &__top{
                    display: grid;
                    grid-template-columns: 0.4fr 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 4rem;
                   align-items: center;
                   select{
                    padding: 1rem;
                    display: block;
                   
                   }
                   option{
                    font-size: 2rem;
                  display: block !important;
               padding: 2rem;
                 
                }
    
    
                }
                 
                &__middle{
                  display: grid;
                  grid-template-columns: 0.4fr 1fr;
                  grid-gap: 4rem;
                  align-items: center;
                   select{
                    padding: 1rem;
                    display: block;
                   }
    
                   option{
                    font-size: 2rem;
                  display: block !important;
               padding: 2rem;
                 
                }
    
    
    
                }
    
                &__bottom{
                
                  display: grid;
                  grid-template-columns: 0.54fr 1fr;
                  grid-template-rows: 1fr;
                  align-items: center;
           
                  .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    margin-left: 0.2rem;
                    cursor: pointer;
                    font-size: 22px;
                    font-size: 1.3rem;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }
                  
                  /* Hide the browser's default radio button */
                  .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                  }
                  
                  /* Create a custom radio button */
                  .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    border: 2px solid rgba(112, 107, 107, 0.144);
                    border-radius: 0.3rem;
                
                  }
                  
                  /* On mouse-over, add a grey background color */
                  
                  
                  /* When the radio button is checked, add a blue background */
                  .container input:checked ~ .checkmark {
                    background-color: #49DEB6;
                  }
                  
                  /* Create the indicator (the dot/circle - hidden when not checked) */
                  .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                  }
                  
                  /* Show the indicator (dot/circle) when checked */
                  .container input:checked ~ .checkmark:after {
                    display: block;
                  }
                  
                  /* Style the indicator (dot/circle) */
                  .container .checkmark:after {
                  position: absolute;
                    top: 40%;
                    left:28%;
                    width: 7px;
                    height: 15px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                   transform: rotate(45deg) translate(-50% , -50%);
                  }

    
                }
                
                &__btn{
               
                    display: grid;
                    grid-template-columns: 0.4fr 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 4rem;
                    &__button{
                        display: grid;
                        grid-template-columns: 1fr;
                       button{
                        text-transform: capitalize;
                        font-weight:500;
                        font-size: 1.7rem;
                        background-color: #49DEB6;
                        border: none;
                        outline: none;
                       }
                    }

                }
    





            }
        }
    }
  
}